
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-top: auto;
  }

  .emoji a:hover,
  .emoji a:focus {
    background-color: rgb(197, 22, 121);
    color: #f9f5f7;
  }
  
  .icon {
    font-size: 4rem;
    order: -1;
    text-align: center;
  }

@media (min-width:38em) {
  .emojis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
  }

  .siteheader {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
  }
}
  